@model BarberBoss___Barber_Shop.ViewModels.BarberServices.BarberServicesListViewModel

@{
    this.ViewData["Title"] = "Barber Services";
}

@if (!Model.BarberServices.Any())
{
    <h2 class="ml-5">No results!</h2>
}

<div class="row">
    <!-- News Posts -->
    @foreach (var service in Model.BarberServices)
    {
        <div class="col-lg-4">
            <hr class="bg-dark mx-4" style="height: 6px;" />
            <!-- News Post -->
            <div class="news_post">
                <div class="news_post_image"><img src="@service.ImageUrl" alt=""></div>
                <div class="news_post_content">
                    <div class="news_post_title text-center"><a>@service.Name</a></div>
                    <div class="news_post_text">
                        <p>@service.Description</p>
                    </div>
                </div>
                <div class="text-center">
                    <div class="row">
                        <div class="col">
                            <div class="about_text_highlight">
                                Book an appointment in 3 easy steps:
                            </div>
                            <div class="about_text_2">
                                <ul>
                                    <li>1. Find a barber shop.</li>
                                    <li>2. Choose a barber service.</li>
                                    <li>3. Pick date and time.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="button button-large button_1 elements_button mt-4">
                                <a asp-area="" asp-controller="BarberShops" asp-action="Index" asp-route-sortId="@service.Id">
                                    <span>Find BarberShops</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
