@model BarberBoss___Barber_Shop.ViewModels.BarberServices.BarberServicesListViewModel

@{
    this.ViewData["Title"] = "Barber Services";
}

@if (!Model.BarberServices.Any())
{
    <h2 class="ml-5">No results!</h2>
}

<div class="row">
    <!-- News Posts -->
    @foreach (var service in Model.BarberServices)
    {
        <div class="col-lg-4 align-center {text-align: center; margin: auto;}">
            <hr class="bg-dark mx-4" style="height: 6px;" />
            <!-- News Post -->
            <div class="card col-12" style="width: 38rem;">
                <div class="card col-4" style="width: 35rem;"><img class="card-img-top" style="width: 35rem;" src="@service.ImageUrl" alt=""></div>
                <p></p>
                <div class="news_post_content">
                    <div class="h3 text-center font-weight-bold"><a>@service.Name</a></div>
                    <div class="text-center font-weight-italic">
                        <p>@service.Description</p>
                    </div>
                </div>
                <div class="text-center" style="width: 35rem;">
                    <div class="row">
                        <div class="col">
                            <div class="font-weight-bold">
                                Book an appointment in 3 easy steps:
                            </div>
                            <div class="font-weight">
                                <ol style="list-style-type:none;">
                                    <li>1. Find a barber shop.</li>
                                    <li>2. Choose a barber service.</li>
                                    <li>3. Pick date and time.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="btn btn-outline-primary">
                                <a asp-area="" asp-controller="BarberShops" asp-action="Index" asp-route-sortId="@service.Id">
                                    <span>Find BarberShops</span>
                                </a>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
