@model  BarberBoss___Barber_Shop.ViewModels.BarberServices.BarberServicesSimpleListViewModel
@{
    this.ViewData["Title"] = "Default";
}

<div class="btn-group dropright">
    <button type="button" style="color: #00008B" class="btn btn-outline-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Search by BarberService
    </button>
    <div class="dropdown-menu">
        @foreach (var barberService in Model.BarberServices)
        {
            <a class="dropdown-item" 
               asp-area="" asp-controller="BarberShops" asp-action="Index" asp-route-sortId="@barberService.Id">
                @barberService.Name (@barberService.BarberShopsCount)
            </a>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="" asp-controller="BarberShop" asp-action="Index">All BarberShops</a>
    </div>
</div>

<hr class="bg-dark m-4" style="height: 6px;" />
