<!doctype html>
<html lang="en">
<head>
    <title>Barber Boss - Barber Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">


    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
</head>    
<footer class="site-footer" style=" background-size: 100% 100%;; background-image: url(images/footerimg.png) ">
      <div class="container" >
        <div class="row mb-5">
          <div class="col-md-4">
            <h3 class="mb-4">About</h3>
            <p class="mb-4">The best place for your look. Beard trimming and shaping by professionals, with the highest quality technique and equipment in barbershops. WE ARE EXPECTING YOU!</p>
            <ul class="list-unstyled ">
              <li class="d-flex"><span class="mr-3"><span class="icon ion-ios-location"></span></span><span class="">34 bul. Vitosha, Sofia, Bulgaria</span></li>
              <li class="d-flex"><span class="mr-3"><span class="icon ion-ios-telephone"></span></span><span class="">+1 242 4942 290</span></li>
              <li class="d-flex"><span class="mr-3"><span class="icon ion-email"></span></span><span class="">barberboss@barberboss.com</span></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h3 class="mb-4">Links</h3>
            <ul class="list-unstyled ">
              <li><a asp-area="" asp-controller="Home" asp-action="Index">About</a></li>
              <li><a asp-area="" asp-controller="BarberShops" asp-action="Index">BarberShops</a></li>
              <li><a asp-area="" asp-controller="BarberServices" asp-action="Index">Services</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Connect</h3>
            <p>
              <a class="p-2"><span class="fa fa-facebook"></span></a>
              <a class="p-2"><span class="fa fa-twitter"></span></a>
              <a class="p-2"><span class="fa fa-instagram"></span></a>
            </p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            
        </div>
      </div>
    </footer>