@using BarberBoss___Barber_Shop.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MyApplicationUser> SignInManager
@inject UserManager<MyApplicationUser> UserManager
@{
    bool isLogged = this.User.Identity.IsAuthenticated;
    MyApplicationUser user = this.UserManager.GetUserAsync(this.User).Result ?? null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Barber Boss - Barber Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">


    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<header role="banner">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html">Barber Boss</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-dark bg-dark" id="navbarsExample05">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="hairstyle.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Book Now</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="hairstyle.html">Crew Cut</a>
                            <a class="dropdown-item" href="hairstyle.html">Regular Hair Cut</a>
                            <a class="dropdown-item" href="hairstyle.html">Shampoo + Cut</a>
                            <a class="dropdown-item" href="hairstyle.html">Beard Trim with Razor</a>
                            <a class="dropdown-item" href="hairstyle.html">Hair Color</a>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">Crew</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Services </a>
                    </li>
                </ul>

            
                @if (!isLogged)
                {
                    <div class="d-flex align-items-center">
                        <a class="btn btn-link px-3 me-2" asp-area="Identity" asp-page="/Account/Login">
                            Login
                        </a>
                        <a class="btn btn-primary me-3" asp-area="Identity" asp-page="/Account/Register">
                            Sign up
                        </a>
                    </div>

                }
                else
                {
                    <div class="d-flex align-items-center">
                        <a class="btn btn-primary btn-dark me-3" asp-area="Identity" asp-page="/Account/Register">
                            Appointment
                        </a>

                        <!-- Notifications -->
                        @*<div class="dropdown">
                            <a class="text-reset me-3 dropdown-toggle hidden-arrow"
                           href="#"
                           id="navbarDropdownMenuLink"
                           role="button"
                           data-mdb-toggle="dropdown"
                           aria-expanded="false">
                                <i class="bi bi-bell"></i>
                                <!-- Users message -->
                                <span class="badge rounded-pill badge-notification bg-danger">1</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">Messages</a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                }
            </div>
                
        </div>
    </nav>
</header>

