<!-- Sidebar -->
<div class="collapse d-lg-block sidebar collapse bg-white " style="background-color: #fbfbfb" id="sidebar-wrapper">
    <div class="list-group list-group-flush mx-3 mt-4">
    <div class="fas fa-tachometer-alt fa-fw me-3 align-center"><strong><u>Administrator</u></strong></div>

        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"
           class="list-group-item list-group-item-action py-2 ripple">Dashboard</a>

        <a asp-area="Administration" asp-controller="BarberServices" asp-action="Index"
           class="list-group-item list-group-item-action py-2 ripple">BarberServices</a>

        <a asp-area="Administration" asp-controller="Services" asp-action="Index"
           class="list-group-item list-group-item-action py-2 ripple">Services</a>

        <a asp-area="Administration" asp-controller="Towns" asp-action="Index"
           class="list-group-item list-group-item-action py-2 ripplelist-group-item list-group-item-action py-2 ripple">Towns</a>

        <a asp-area="Administration" asp-controller="BarberShops" asp-action="Index"
           class="list-group-item list-group-item-action py-2 ripple">BarberShops</a>

        <a asp-area="Administration" asp-controller="Appointments" asp-action="Index"
           class="list-group-item list-group-item-action py-2 ripple">Appointments</a>

    </div>
</div>
<!-- /#sidebar-wrapper -->
