@{
    this.ViewData["Title"] = "Unavailable BarberShop/Service";
}

<h3>Sorry, no such barberShop/service available.</h3>

<div class="row">
    <div class="col-lg-4 ml-lg-5">
        <div class="button button-large button_1 elements_button mt-4">
            <a asp-area="" asp-controller="BarberShops" asp-action="Index">
                <span>Find Another</span>
                <span>Find Another</span>
            </a>
        </div>
    </div>
</div>