<div class="collapse d-lg-block sidebar collapse bg-white" id="sidebar-wrapper">
    <div class="list-group list-group-flush mx-3 mt-4">
    <div class="align-center"><strong><u>Barber's Dashboard</u></strong></div>

        <div>
            @await Component.InvokeAsync("BarberShopSimpleList")
        </div>

    </div>
</div>
